<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServerEndpoints" value="tcp://localhost:50997;tcp://localhost:50998"/>
    <add key="HostedEndpoint.Consultants.Port" value="50998" />
  </appSettings>

  <connectionStrings>
    <add name="Consultants" connectionString="Server=tcp:sflabs.database.windows.net,1433;Initial Catalog=sflabs_1;Persist Security Info=False;User ID=richard;Password=;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
  </connectionStrings>
</configuration>