@model HitMeeUiCommand
@{
    ViewData["Title"] = "HitMe";
}

<h2>Foo</h2>

<div>
    <form asp-action="HitMe" asp-controller="Home">
        <div class="form-horizontal">
            <div class="form-group">
                <label asp-for="Count" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Count" class="form-control" />
                </div>
            </div>

            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="HitMe" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>
</div>