<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncIO" version="0.1.26.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="2.1.2" targetFramework="net461" />
  <package id="Microsoft.Extensions.Caching.Memory" version="2.1.2" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.1" targetFramework="net461" />
  <package id="Microsoft.Extensions.Options" version="2.1.1" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="2.1.1" targetFramework="net461" />
  <package id="Microsoft.ServiceFabric" version="6.3.176" targetFramework="net461" />
  <package id="Microsoft.ServiceFabric.Actors" version="3.2.176" targetFramework="net461" />
  <package id="Microsoft.ServiceFabric.Data" version="3.2.176" targetFramework="net461" />
  <package id="Microsoft.ServiceFabric.Data.Extensions" version="1.4.176" targetFramework="net461" />
  <package id="Microsoft.ServiceFabric.Data.Interfaces" version="3.2.176" targetFramework="net461" />
  <package id="Microsoft.ServiceFabric.Diagnostics.Internal" version="3.2.176" targetFramework="net461" />
  <package id="Microsoft.ServiceFabric.FabricTransport.Internal" version="3.2.176" targetFramework="net461" />
  <package id="Microsoft.ServiceFabric.Services" version="3.2.176" targetFramework="net461" />
  <package id="Microsoft.ServiceFabric.Services.Remoting" version="3.2.176" targetFramework="net461" />
  <package id="NetMQ" version="4.0.0.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="SimpleInjector" version="4.3.0" targetFramework="net461" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net461" />
  <package id="System.Configuration.ConfigurationManager" version="4.5.0" targetFramework="net461" />
  <package id="System.Data.SqlClient" version="4.5.1" targetFramework="net461" />
  <package id="System.Memory" version="4.5.1" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.1" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net461" />
  <package id="System.Security.Permissions" version="4.5.0" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="4.5.0" targetFramework="net461" />
</packages>