@page "/"

<div class="jumbotron">
    <h1 class="display-4">Nilsark Consulting</h1>
    <p class="lead">
        Building distributed systems for the enterprise. Cloud native.</p>
    <hr class="my-4">
    <p>A lab exploring tools for building loosely coupled services on different tech while giving the user the look and feel of one system.</p>
    <a class="btn btn-primary btn-lg" href="/lab" role="button">Learn more</a>
</div>