@page "/lab"

<h1>Lab</h1>
<p>
    <img src="lab.png" alt="Overview"/>
</p>
<p>
    Goals with this lab (may pivot at any time..)
    <ul>
        <li>Event driven microservice architecture with autonomous services based on different tech</li>
        <li>UI composition using Blazor</li>
        <li>Container orchestration in the cloud</li>
        <li>Distributed eventual consistent</li>
        <li>
            Mixed framework and storage technologies
            <ul>
                <li><a href="https://github.com/mlidbom/Composable">Composable</a></li>
                <li><a href="https://blazor.net/">Blazor</a></li>
                <li>Azure Service Bus</li>
                <li>Azure Service Fabric Mesh (or Kubernetes)</li>
                <li>Azure SQL (Composable Event Store)</li>
                <li>Azure Blob Storage</li>
                <li>Azure Cosmos DB</li>
                <li>Azure Search</li>
                <li>Azure SignalR Service</li>
                <li>...</li>
            </ul>
        </li>
    </ul>
</p>
